<table class="table">
    <thead> 
        <th>Code</th> 
        <th>Title</th> 
    </thead> 
    <tbody> 
        {{#blogs}} 
        <tr> 
            <td>{{code}}</td> 
            <td>{{title}}</td> 
        </tr> 
        {{/blogs}} 
    </tbody> 
</table> 
